# 아이리스 선형회귀 모델

In [16]:
import numpy as np 
import pandas as pd

In [17]:
df = pd.read_csv('../static/data/regression/iris_train.csv')
df.head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.3,1.7,0.5,0
1,6.1,3.0,4.9,1.8,2
2,5.1,3.4,1.5,0.2,0

In [18]:
# Client에서 Server로 주는 Feature값
feature_name = 'petal length (cm)'

In [19]:
df.drop(columns=feature_name, axis=1)

     sepal length (cm)  sepal width (cm)  petal width (cm)  target
0                  5.1               3.3               0.5       0
1                  6.1               3.0               1.8       2
2                  5.1               3.4               0.2       0
3                  5.1               3.5               0.3       0
4                  5.2               3.4               0.2       0
..                 ...               ...               ...     ...
107                4.7               3.2               0.2       0
108                6.2               2.8               1.8       2
109                6.7               3.1               1.4       1
110                5.6               2.9               1.3       1
111                5.4               3.0               1.5       1

[112 rows x 4 columns]

In [20]:
X_train = df.drop(columns=feature_name, axis=1).values
y_train = df[feature_name].values
X_train.shape, y_train.shape

((112, 4), (112,))

In [21]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [22]:
lr.fit(X_train, y_train)

LinearRegression()

In [23]:
weight, bias = lr.coef_, lr.intercept_
print(weight)
print(bias)

[ 0.70111928 -0.54748609  1.04279461  0.45743148]
-0.38104656269441195

In [24]:
df_test = pd.read_csv('../static/data/regression/iris_test.csv')
df_test.head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,4.8,3.0,1.4,0.3,0
1,4.6,3.6,1.0,0.2,0
2,4.8,3.0,1.4,0.1,0

In [29]:
# 한 줄을 뽑아올 수 있음
df_test.drop(columns=feature_name, axis=1).values[1]

array([4.6, 3.6, 0.2, 0. ])

In [30]:
# Client에서 Server로 주는 index
index = 20

X_test = df_test.drop(columns=feature_name, axis=1).values[index]
y_test = df_test[feature_name][index]
print(X_test); print(y_test)

[5.1 3.8 0.4 0. ]
1.9

In [33]:
# 뽑은 결과가 한 줄이니까
weight.shape, X_test.shape

((4,), (4,))

In [34]:
pred = np.dot(X_test, weight.T) + bias
pred

1.5313324877433814